<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @ingredient.dish_id %>
</p>

<p>
  <strong>Food:</strong>
  <%= @ingredient.food %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ingredient.amount %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @ingredient.unit_of_measure %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
